<div class="container">
  <div class="row">
    <div class="col-xs-12 col-md-6 col-md-offset-3">
      <ul>
        <li *ngFor="let data of cartData">
          <strong>{{ data.cart.name }}</strong>
          <br />
          <strong>Quantity Ordered:</strong> {{ data.cart.qty }}
          <br />
          <strong>Amount :{{ data.cart.totalValue }}</strong>
          <br />
        </li>
      </ul>
      <button (click)="totalData()">Get Final Amount</button>
      <strong>Final Amount :{{ total }}</strong>

      <button class="btn btn-danger" (click)="placeOrder()">
        Place Order !
      </button>
    </div>
  </div>
</div>
