<div class="container">
  <div class="row justify-content-center">
    <div class="col-xs-12 col-md-8">
      <h2 class="text-center">Your Cart</h2>
      <ul class="list-group mb-3">
        <li class="list-group-item" *ngFor="let item of cartData">
          <div>
            <strong>{{ item.name }}</strong>
            <br />
            <span>Quantity Ordered: {{ item.qty }}</span>
            <br />
            <span>Amount: ${{ item.totalValue }}</span>
          </div>
        </li>
      </ul>
      <div class="text-center mb-3">
        <strong>Final Amount: ${{ finalAmount }}</strong>
      </div>
      <div class="text-center">
        <button class="btn btn-danger" (click)="placeOrder()">
          Place Order!
        </button>
      </div>
    </div>
  </div>
</div>
