<div class="container">
  <div class="row justify-content-center">
    <div class="col-xs-12 col-md-8">
      <h2 class="text-center">Products</h2>
      <ul class="list-group">
        <li
          class="list-group-item product"
          *ngFor="let product of UserProducts"
        >
          <div
            class="d-flex flex-column flex-md-row justify-content-between align-items-center"
          >
            <div class="temp">
              <div class="product-info">
                <h3>
                  <strong> {{ product.name }}</strong>
                </h3>
                <p>{{ product.description }}</p>
                <p><strong>Price:</strong> ${{ product.price }}</p>
                <p><strong>Available:</strong> {{ product.quantity }}</p>
              </div>
              <div class="product-image mb-2 mb-md-0">
                <img
                  [src]="product.img"
                  [alt]="product.name"
                  class="img-fluid"
                  style="max-width: 150px"
                />
              </div>
            </div>
            <div class="product-action text-center">
              <div class="mb-2 inpu1">
                <label for="number">Qty:</label>
                <input
                  type="number"
                  class=""
                  placeholder="Qty"
                  [(ngModel)]="qty[product.id]"
                  min="1"
                  [max]="product.quantity"
                />
              </div>
              <button class="btn btn-success" (click)="addToCart(product)">
                Add to Cart
              </button>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
