<div class="container auth">
  <form (ngSubmit)="onSubmit(authForm)" #authForm="ngForm">
    <label for="email">Email :</label>
    <input
      type="email"
      name="email"
      placeholder="Enter email :"
      [(ngModel)]="email"
      required
    />

    <label for="Password :">Password :</label>
    <input
      type="password"
      name="password"
      placeholder="Enter Password :"
      [(ngModel)]="password"
      minlength="6"
      required
    />

    <div class="signup" *ngIf="!isLoginMode">
      <label for="Name :">Name :</label>
      <input
        type="text"
        name="Name"
        placeholder="Enter Name :"
        [(ngModel)]="name"
        minlength="3"
        required
      />
      <label for="Phone :">Phone :</label>
      <input
        type="tel"
        name="Phone"
        placeholder="Enter Phone :"
        [(ngModel)]="phone"
        minlength="8"
        pattern="[0-9]{8,}"
        required
      />

      <label for="Address :">Address :</label>
      <input
        type="text"
        name="Address"
        placeholder="Enter Address :"
        [(ngModel)]="address"
      />
      <br />
      <label for="PinCode :">PinCode :</label>
      <input
        type="text"
        name="PinCode"
        placeholder="Enter PinCode :"
        [(ngModel)]="pinCode"
        required
      />
    </div>

    <button type="submit">{{ isLoginMode ? "Login" : "Sign Up" }}</button>
    <button type="button" (click)="isToggleMode()">
      {{
        isLoginMode
          ? "Create a New user ?Sign up?"
          : "Already have an Account? Login?"
      }}
    </button>
  </form>
  <div *ngIf="isLoginMode" class="sample">
    <p><strong>Sample data to login:</strong></p>
    <ul>
      <li>
        <strong>Email:</strong>test@this.admin.com
        <strong>Password:</strong> 784512 <strong>Role: Admin</strong>
      </li>
      <li>
        <strong>Email:</strong>bob.user@example.com
        <strong>Password:</strong> 123456 <strong>Role: User</strong>
      </li>
      <li>
        <strong>Email:</strong>nbbhatia56@gmail.com
        <strong>Password:</strong> 111111 <strong>Role: User</strong>
      </li>
    </ul>
  </div>
</div>
