<div class="container-fluid">
  <div class="row">
    <div class="navbar col-12 nav">
      <a
        routerLink="/"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
        >Auth</a
      >
      <a
        routerLink="/home"
        *ngIf="!isAdmin && isLoggedIn"
        routerLinkActive="active"
        >Home</a
      >
      <a
        routerLink="/cart"
        *ngIf="!isAdmin && isLoggedIn"
        routerLinkActive="active"
        >Cart</a
      >
      <a
        routerLink="/order"
        *ngIf="!isAdmin && isLoggedIn"
        routerLinkActive="active"
        >Order</a
      >
      <a routerLink="/admin" *ngIf="isAdmin" routerLinkActive="active"
        >Inventory</a
      >
      <a routerLink="/orderDetails" *ngIf="isAdmin" routerLinkActive="active"
        >Order Details</a
      >
      <button class="btn btn-danger" (click)="logout()">Logout</button>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
